*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body, html{
    font-family: sans-serif;
}

.wrapper{
    display: flex;
    height: 100vh;
    width: 100%;
}

.wrapper div{
    width: 100%;
}

.wrapper .links{
    background-image: url('../img/bg-vector.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-self: center;
    align-items: center;
}

.wrapper .links .links-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper .links .links-block a{
    background-color: #fff;
    width: 380px;
    display: flex;

    align-items: center;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    margin-top: 35px;
    padding-left: 104px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 2px 4px 6px rgba(79, 79, 79, 0.15);
}

.wrapper .links .links-block a img{
    margin-right: 15px;
    max-width: 30px;
}

.sign-up{
    padding: 240px 200px;
}

.sign-up h2{
    font-size: 45px;
    text-align: center;
}

.sign-up h3{
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.sign-up .input{
    margin-bottom: 30px;
}

.sign-up .input input{
    width: 100%;
    height: 30px;
    font-size: 18px;
}

.sign-up input[type="submit"]{
    width: 100%;
    background-color:#03A9F4;
    color: #fff;
    border-radius: 15px;
    font-size: 15px;
    padding: 8px 0;
    margin-top: 20px;
    border: 1px solid #ccc;
    transition: .3s;
    cursor: pointer;
}

.sign-up input[type="submit"]:hover{
    box-shadow: 2px 4px 6px rgba(79, 79, 79, 0.15);
}